test.bmp
nprs_lib/sources/.idea/
nprs_lib/nm_heavy_trained_171014.dat
nprs_lib/nm_light_trained_171014.dat
=======
# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

#idea files
nprs_lib/sources/.idea/
